node_modules/
dist/*.map
src/
tests/
*.log
.vscode/
webpack.config.js
vite.config.ts
tsconfig.json
tsconfig.test.json
jest.config.js
.git/
.gitignore
.npmignore
index.html
styles.css
.github/
coverage/
